html, body {
    height: 100%;
    color: #493C32;
}

.content {
    min-height: 100%;
    background-color: #FFF4EC;
}

.wrap {
    overflow:auto;
    width:100%;
    display: table;
    /*padding-bottom:100px;*/
    /*padding: .5em 3em;*/
}

.header {
    background-color: #F5A566;
    padding: 1.2em 0.3em 0 3em;
}

.footer {
    position: relative;
    margin-top: -80px; /* negative value of footer height */
    height: 80px;
    clear:both;
    padding: .5em 3em;

    background-color: #F5A566;
}

.footer-column {
    padding: 0;
}

.main-section-column:not(:first-child) {

}

.main-section-column {
    padding: 3em; /*0 3em 3em 3em;*/
}

.main-section-column:first-child {
    padding-top: 3em;
}

.main-section-subcolumn {
    padding: 0; margin: 0;
}

.main-section-header {
    /*text-decoration: underline;*/
    border-bottom: 1px solid #F5A566;
    border-top: 3px solid #F5A566;
/*            background-color: #F5A566;
    color: #FFF4EC;
*/            width: 100%;
    padding: 0; margin: 0;
    clear: both;
}

.mylink {
    /*transition: border-bottom ease-in-out 0.1s;*/
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 0.5em;
}

.mylink:hover {
    /*background-color: #FDE9DA;*/
    cursor: pointer;
    border-bottom: 1px solid #F5A566;
    border-top: 1px solid #F5A566;
    padding-top: 0;
    padding-bottom: 0;
}

.mylink-container {
    float: left;
    min-width: 20%;
}

.page-header1, .page-subheader {
    margin: 0; padding: 0; z-index: 10;
}

.page-subheader {
    display: inline-block;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.menu-embed {
    margin: 0; padding: 0; float: right;
}


.menu-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.draggable {
    cursor: move;
}

.draggable-horizontal {
    cursor: ew-resize;
}

.draggable-vertical {
    cursor: ns-resize;
}

.control-element-group {
    float: right;
    text-align: left;
    min-width: 5em;
    margin-right: 1em;
}

.control-form {
    background-color: #F5A566;
    float: right;
}

.control-element {
    float: right;
    margin: 0 0 0 1em;
}

/*.header-animation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}*/
