$var title: Beauty is everywhere
$var debug: True


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 main-section-column">
  <h3 class="main-section-header">Finite Automata</h3>
  <div class="mylink-container">
    <p class="mylink"><a href="/cellular/automata">Interactive model</a></p>
    <p class="mylink"><a href="/cellular/constructor">Constructor</a></p>
  </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 main-section-column">
  <h3 class="main-section-header">Waves</h3>
  <div class="mylink-container">
    <p class="mylink"><a href="/waves/points">Point sources in 2D</a></p>
    <p class="mylink"><a href="/waves/interference">Interference</a></p>
    <!-- <p class="mylink">Double slit experiment</p> -->
  </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 main-section-column">
  <h3 class="main-section-header">Fractals</h3>
  <div class="mylink-container">
    <p class="mylink"><a href="/fractals/koch">Koch</a></p>
    <p class="mylink"><a href="/fractals/cesaro">Cesaro</a></p>
    <p class="mylink"><a href="/fractals/quadratic">Quadratic</a></p>
  </div>`
</div>
